<!-- start custom footer snippets -->

{% if page.mathjax or content contains '$' or content contains '\(' or content contains '\[' %}
<script defer src="https://cdn.jsdelivr.net/npm/mathjax@3.2.2/es5/tex-mml-chtml.js" integrity="sha384-Wuix6BuhrWbjDBs24bXrjf4ZQ5aFeFWBuKkFekO2t8xFU0iNaLQfp2K6/1Nxveei" crossorigin="anonymous" id="MathJax-script"></script>
{% endif %}

{% if content contains 'language-mermaid' %}
<script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@11.17.2/dist/mermaid.esm.min.mjs';
    mermaid.initialize({startOnLoad:true, theme:'default', securityLevel:'strict'});
    await mermaid.run({querySelector:'code.language-mermaid'});
</script>
{% endif %}

<!-- end custom footer snippets -->
